*
{
    box-sizing:border-box;
}
body
{
    font-family:sans-serif;
}
.main-container
{
    width:500px;
    margin:10% 40%;    
}
.pop-up-window
{
    visibility: hidden;
    position:absolute;
    text-align:center;
    left:35%;
     
}
.pop-up-content
{
    background-color:rgb(114, 109, 109);
    padding:25px;
    height:300px;
    width:500px;
}
.active
{
    visibility:visible;
 
}
button
{
    padding:20px 55px;
    border:1px solid red;
    background-color:red;
    color:white;
}
.pop-up
{
    
}
