*
{
    box-sizing:border-box;
}
body
{
    font-family:sans-serif;
}
.main-container
{
    width:500px;
    margin:10% 40%;    
}
.pop-up-window
{
    visibility: hidden;
}
.pop-up-content
{
    visibility: hidden;
}
.active
{
    visibility:visible;
    background-color:white;
}
button
{
    padding:20px 55px;
    border:1px solid red;
    background-color:red;
    color:white;
}
.pop-up
{
    
}